{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %} | HiFlix</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>
    
    <body>
        {% block sidebar %}
        <div class="navbar">
            <a href="/">HiFlix</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'core:logout' %}">Log Out</a>
            <a href="{% url 'core:addbook' %}">Add Book</a>
            {% else %}
            <a href="{% url 'core:signup' %}">Sign Up</a>
            <a href="{% url 'core:login' %}">Login</a>
            {% endif %}
        </div>
        {% endblock %}


        <div>
        <!-- <div class = "container"></div>     -->
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div class="bottom-navbar">
                <a href="#">About</a><br>
                <a href="#">Privacy policy</a><br>
                <a href="#">Terms of Use</a><br>
                </ul>
            </div>
        </footer>
    </body>
</html>      
